$color-principal: rgb(2, 11, 27);
$color-secundario: rgb(29, 34, 46);
$color-fondo-cajas: rgb(255, 255, 255);
$color-efecto-boton: rgba(0,255,255,0.5);
$color-titulo-principal: rgb(255, 255, 255);
$color-texto-primario: rgb(174, 175, 177);
$color-texto-footer: rgb(92, 92, 92);